afid
*.txt
obj/*
outputdir/*
*__pycache__
.ipynb_checkpoints/*
.vscode/*
notebooks/*
examples/*/*/*
tmp
examples/*/*.svg
examples/*/*.ipynb
*.ipynb_checkpoints
*.out
tools/*.svg
tools/*.png
tools/*.mp4
*.i90